---
import LoginForm from "@features/auth/components/login-form";
---

<div
    class="flex min-h-full flex-1 items-center justify-center px-4 py-12 sm:px-6 lg:px-8"
>
    <div class="w-full max-w-sm space-y-10">
        <div>
            <h2
                class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
            >
                Welcome back
            </h2>
        </div>
        <LoginForm client:load />
    </div>
</div>
